.note {
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  position: relative;
}
.note-inputs {
  border: none;
  outline: none;
}

.note-inputs-div {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.note-search{
  
  margin-right: 75px;
  
}
.note-card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.note-card-p {
  text-align: justify;
  text-justify: inter-word;
}
.card-icons {
  font-size: 18px;
}
.del {
  color: rgba(240, 0, 0, 0.87);
}
.card-icon-body {
  cursor: pointer;
  transition: all 0.3s;
}
.card-icon-body:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.note-update {
  width: 100%;
  height: 80vh;
  position: absolute;
  position: fixed;
  top: 80px;
  left: 0px;
  background-color: rgb(255, 243, 224);
  display: none;
}

.update {
  height: 100%;
}
